<div class="text-center">

<h1 class="display-4">Editar Cadastro</h1>

</div>
<form>
  <div class="form-group">
  
  <label for="NomedaConexão">Nome da Conexão</label>
  <input type="text" class="form-control" placeholder="Digite o nome da conexão">

</div>

 <div class="form-group">
  
  <label for="Ferramentadeanalise">Ferramenta de análise</label>
  <input type="text" class="form-control" placeholder="Digite o nome da Ferramenta de análise">

</div>

 <div class="form-group">
  
  <label for="URL">URL</label>
  <input type="text" class="form-control" placeholder="Digite o nome da URL">

</div>

 <div class="form-group">
  
  <label for="Usuario">Usuário</label>
  <input type="text" class="form-control" placeholder="Digite o nome do Usuário">

</div>

 <div class="form-group">
  
  <label for="SecretKey">Secret Key</label>
  <input type="text" class="form-control" placeholder="Digite a Secret Key">

</div>

 

<button type="submit" class="btn btn-primary">Editar</button>
<a class="btn btn-segundary" asp-controller="Cadastrados" asp-action="Index" role="button">Voltar</a>
</form>
